/* NAVIGATION */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* HOME */
#home{
    height: 550px;
    padding: 3px 60px;
}
#home p{
    font-size: 15px;
}
#home ::before{
    height: 650px;
}
/* SERVICES */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/* CLIENT */
#clients{
    flex-wrap: wrap;
}
#clients img{
    height: 66px;
    padding: 2px 6px;
    /* height: auto; */
}

/* CONTACT */
/* UTILITY CLASSES */
/* h-primary{

} */